<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/user_dashboard.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/User/user_dashboard?page=1">
                    <span>
                        Blogs
                    </span>
                </a>
            </li>
            <li>
                <a href="/User/new_blog">
                    <span>
                        New Blog
                    </span>
                </a>
            </li>
            <li>
                <a href="/User/my_blogs?page=1">
                    <span>
                        My Blogs
                    </span>
                </a>
            </li>
        </ul>
        <div class="log-out">
            <a href="/log-out">
                <span>
                    Log Out
                </span>
            </a>
        </div>
    </nav>

    <% if( blogs && blogs.length !== 0) { %>
        <div class="all-blog">
            <% for(let blog of blogs) { %>

                <div class="card">
                    <img src="https://cdn.pixabay.com/photo/2020/12/25/11/57/flamingos-5859192_960_720.jpg" alt="John" style="width:100%">
                    <p class="title"><%= blog.title %></p>
                    <p class="wrapper"><%= blog.description %></p>
                    <div class="access">

                        <div class="btn-wrapper update">
                            <a href="#">UPDATE</a>
                        </div> 

                        <div class="btn-wrapper delete">
                            <a href="#">DELETE</a>
                        </div>

                    </div>
                    <p><button>Full Blog</button></p>
                </div>
        
            <% } %>  
        </div>

        <div class="center">
            <div class="pagination">
                
                <% if(currentPage != 1 && previousPage != 1) { %>
                    <a href="/User/my_blogs?page=1">1</a>
                <% } %>

                <% if(hasPreviousPage) { %>
                    <a href="/User/my_blogs?page=<%= previousPage%>" ><%= previousPage%></a>
                <% } %>

                <a href="/User/my_blogs?page=<%= currentPage%>" class="active"><%= currentPage%></a>

                <% if(hasNextPage) { %>
                <a href="/User/my_blogs?page=<%= nextPage%>" ><%= nextPage%></a>
                <% } %>

                <%  if(lastPage != currentPage && lastPage != nextPage) { %>
                <a href="/User/my_blogs?page=<%= lastPage%>" ><%= lastPage%></a>
                <% } %>

            </div>
        </div>
    <% }  else {%>
        <h3 class="no-blog">There is No Blogs..</h3>
    <% } %>
</body>
</html>

